<section
  class='section section--{{ section.id }} section--password-content'
  data-section-id='{{ section.id }}'
  data-section-type='password-content'
>
  <div class='container container--mob-0'>
    <div class='password-content u-flex u-flex--middle u-flex--center'>
      {% if section.settings.bg_image != blank %}
        <div
          class='password-content__bg--cover u-bg-contain'
          style="background-image: url('{{ section.settings.bg_image | img_url: '1x1' }}')"
        ></div>
        <img
          class='password-content__bg'
          src='{{ section.settings.bg_image | img_url: '720x' }}'
          srcset='{% render 'bgset', image: section.settings.bg_image %}'
          width='720'
          height='{{ 720 | divided_by: section.settings.bg_image.aspect_ratio | round }}'
          alt='{{ section.settings.bg_image.alt }}'
          loading='lazy'
          style='object-position:{{ section.settings.bg_image.presentation.focal_point }}'
        >
      {% endif %}

      {%- if section.blocks.size > 0 -%}
        <div class='password-content__content {% if section.blocks.size > 1 %}password-content__content--pb{% endif %}'>
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <div
                  class='password-content__block password-content__block--{{ block.type }}'
                  {{ block.shopify_attributes }}
                >
                  <div class='section__title section__title--center'>
                    <h1 class='section__title-text h2'>{{ block.settings.heading | escape }}</h1>
                  </div>
                  {% unless shop.password_message == blank %}
                    <div class='section__title-desc rte'>
                      <p>{{ shop.password_message }}</p>
                    </div>
                  {% endunless %}
                </div>

              {%- when 'text' -%}
                <div
                  class='password-content__block password-content__block--{{ block.type }}'
                  {{ block.shopify_attributes }}
                >
                  <div class='password-content__message rte'>
                    {% unless block.settings.text == blank %}
                      {{ block.settings.text }}
                    {% endunless %}
                  </div>
                </div>

              {%- when 'newsletter' -%}
                <div
                  class='password-content__block password-content__block--{{ block.type }}'
                  {{ block.shopify_attributes }}
                >
                  <div class='password-content__form'>
                    {% form 'customer', class: 'password-form' %}
                      {{ form.errors | default_errors }}
                      {% if form.posted_successfully? %}
                        <div class='u-text-center'>
                          <h4>{{ 'general.password_page.signup_form_success' | t }}</h4>
                        </div>
                      {% else %}
                        <input type='hidden' name='contact[tags]' value='prospect, password page'>
                        <label for='email' class='u-hidden-visually'>
                          {{- 'general.password_page.signup_form_email_placeholder' | t -}}
                        </label>
                        <input
                          type='email'
                          name='contact[email]'
                          id='Email'
                          placeholder='{{ 'general.password_page.signup_form_email_placeholder' | t }}'
                        >
                        <button type='submit' name='commit' class='c-btn c-btn--full c-btn--primary'>
                          {{ block.settings.newsletter_button_text | escape }}
                        </button>
                      {% endif %}
                    {% endform %}
                  </div>
                </div>

              {%- when 'social' -%}
                <div
                  class='password-content__block password-content__block--{{ block.type }}'
                  {{ block.shopify_attributes }}
                >
                  <div class='password-content__social'>
                    <ul class='password-content__social-items o-list-bare'>
                      {% liquid
                        capture social_links_raw
                          render 'social-media-list'
                        endcapture
                        assign social_links = social_links_raw | split: ','

                        for link in social_links
                          assign setting_name = 'social_' | append: link | append: '_link'
                          assign icon_name = link
                          assign social_link = settings[setting_name]
                          unless social_link == blank
                            render 'social-media-link', social_link: social_link, icon_name: icon_name
                          endunless
                        endfor

                        unless settings.social_custom_1_link == blank or settings['social_custom_1_svg-code'] == blank
                          render 'social-media-link', social_link: settings.social_custom_1_link, svg_icon: settings['social_custom_1_svg-code'], icon_name: 'custom_1'
                        endunless
                        unless settings.social_custom_2_link == blank or settings['social_custom_2_svg-code'] == blank
                          render 'social-media-link', social_link: settings.social_custom_2_link, svg_icon: settings['social_custom_2_svg-code'], icon_name: 'custom_2'
                        endunless
                        unless settings.social_custom_3_link == blank or settings['social_custom_3_svg-code'] == blank
                          render 'social-media-link', social_link: settings.social_custom_3_link, svg_icon: settings['social_custom_3_svg-code'], icon_name: 'custom_3'
                        endunless
                        unless settings.social_custom_4_link == blank or settings['social_custom_4_svg-code'] == blank
                          render 'social-media-link', social_link: settings.social_custom_4_link, svg_icon: settings['social_custom_4_svg-code'], icon_name: 'custom_4'
                        endunless
                        unless settings.social_custom_5_link == blank or settings['social_custom_5_svg-code'] == blank
                          render 'social-media-link', social_link: settings.social_custom_5_link, svg_icon: settings['social_custom_5_svg-code'], icon_name: 'custom_5'
                        endunless
                      %}
                    </ul>
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password content",
  "class": "js-section__password-content",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image",
      "info": "2200px width recommended."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Opening soon"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Be the first to know when we launch.<p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_button_text",
          "label": "Newsletter button text",
          "default": "Sign up"
        },
        {
          "type": "paragraph",
          "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&tag=prospect)"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "limit": 1
    }
  ]
}
{% endschema %}
